<!DOCTYPE html>
<html>
	<head>
		<title>Flask application</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	</head>
	
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<p>Ошибка</p>
				</div>
			</nav>
		</div>
			
		<hr />
		<p>Ошибка: "{{errorName}}"</p>
		<hr />
		<hr />
		<p>{{stackTrace}}</p>
		<hr />
		
		<a href="http://127.0.0.1:5000/">На главную</a>
	 
	</body>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>